* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

:root {
  --background: rgba(89, 164, 213, 0.85);
  --color2: #e46e25;
}

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: max(5%, 15px);
  margin-right: max(5%, 15px);
}

.divider {
  width: calc(100% - 2rem);
  height: 0.2rem;
  background: var(--color2);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

/*-------- Top section with background video -------*/
#videoBG {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

.topSection h1,
.topSection p {
  text-align: center;
  color: white;
}

.topSection button {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, 100%);
}

.topSection {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.topSection div {
  transform: translate(0, 100%);
}

/*------------ campaign video section--------------*/
.videoSection {
  margin-top: 12rem;
  margin-bottom: 4rem;
}

.videoSection div {
  margin-bottom: 20px;
}

.videoSection iframe {
  width: 100%;
  height: 15rem;
}

/* -------------- section with 3 divs ------- */
.third img {
  width: 50px;
}

.third {
  margin-top: 1rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*---------- media queries --------- */
@media screen and (min-width: 800px) {
  #thirds {
    display: flex;
    gap: 2rem;
  }

  .videoSection {
    display: flex;
    gap: 2rem;
  }

  .videoSection iframe {
    width: 50vw;
  }
}
